## Day 6: Merging and Joining Data
Goal: Master SQL JOINs in pandas

First, doing some basic joins:

In [ ]:
import pandas as pd

# Sample data setup
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'customer_name': ['Alice Corp', 'Bob Inc', 'Charlie Ltd', 'Delta Co'],
    'region': ['North', 'South', 'East', 'West']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 1, 2, 3, 5],  # Note: customer_id 5 doesn't exist in customers
    'total_amount': [1000, 1500, 2000, 750, 3000],
    'order_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05']
})

# SQL: SELECT * FROM customers c INNER JOIN orders o ON c.customer_id = o.customer_id
inner_join = pd.merge(customers, orders, on='customer_id', how='inner')
print("Inner Join Result:")
print(inner_join)

# SQL: SELECT * FROM customers c LEFT JOIN orders o ON c.customer_id = o.customer_id
left_join = pd.merge(customers, orders, on='customer_id', how='left')

print("\nLeft Join Result:")
print(left_join)    

# SQL: SELECT * FROM customers c RIGHT JOIN orders o ON c.customer_id = o.customer_id
right_join = pd.merge(customers, orders, on='customer_id', how='right')
print("\nRight Join Result:")
print(right_join)

# SQL: SELECT * FROM customers c FULL OUTER JOIN orders o ON c.customer_id = o.customer_id
outer_join = pd.merge(customers, orders, on='customer_id', how='outer')
print("\nOuter Join Result:")
print(outer_join)

These are pretty straightforward.  Merge, on, how is logical.

*Note*:  Today I learned about \n next line formatting character that will give a space between the results instead of them being right next to each other.

Next, Advanced Joining:

In [ ]:
# Joining on multiple columns with matching column names

import pandas as pd

# Sample data for multiple column join
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'customer_name': ['Alice Corp', 'Bob Inc', 'Charlie Ltd', 'Delta Co'],
    'location': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'region': ['North', 'South', 'East', 'West']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 1, 2, 3, 5],  
    'total_amount': [1000, 1500, 2000, 750, 3000],
    'order_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05'],
    'location': ['New York', 'New York', 'Los Angeles', 'Chicago', 'Miami']
})


# SQL: JOIN ON table1.col1 = table2.col1 AND table1.col2 = table2.col2 
pd.merge(customers, orders, on=['customer_id', 'location'])
print("Join on multiple columns Result:")
print(pd.merge(customers, orders, on=['customer_id', 'location']))

# Joining with suffixes for duplicate column names
print("\nJoin with suffixes for duplicate column names:")
# SQL: SELECT * FROM customers c INNER JOIN orders o ON c.customer_id = o.customer_id
print(pd.merge(customers, orders, on='customer_id', suffixes=('_left', '_right')))

In [ ]:
# Joining on multiple columns with different column names

import pandas as pd

# Sample data for multiple column join
customers = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'customer_name': ['Alice Corp', 'Bob Inc', 'Charlie Ltd', 'Delta Co'],
    'location': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'region': ['North', 'South', 'East', 'West']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 1, 2, 3, 5],  
    'total_amount': [1000, 1500, 2000, 750, 3000],
    'order_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05'],
    'location': ['New York', 'New York', 'Los Angeles', 'Chicago', 'Miami']
})

# SQL: JOIN ON orders.customer_id = customers.id
print("\nJoin on different column names Result:")
print(pd.merge(orders, customers, left_on='customer_id', right_on='id'))

# Joining on multiple columns with different column names and suffixes
print("\nJoin on multiple columns with different names and suffixes Result:")
print(pd.merge(orders, customers, left_on=['customer_id', 'location'], right_on=['id', 'location'], suffixes=('_order', '_customer')))

This is interesting because SQL doesn't have this issue... 
In pandas, when you merge two DataFrames that have columns with the same name (other than the one you're joining on), those columns would conflict in the resulting DataFrame. To resolve this, you can use the suffixes parameter in pd.merge().

In [ ]:
# Joining with suffixes for duplicate column names

import pandas as pd

# Sample data for multiple column join
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'customer_name': ['Alice Corp', 'Bob Inc', 'Charlie Ltd', 'Delta Co'],
    'location': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'region': ['North', 'South', 'East', 'West']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 1, 2, 3, 5],  
    'total_amount': [1000, 1500, 2000, 750, 3000],
    'order_date': ['2023-01-15', '2023-02-20', '2023-01-30', '2023-03-10', '2023-02-05'],
    'location': ['New York', 'New York', 'Los Angeles', 'Chicago', 'Miami']
})

# SQL: SELECT * FROM customers c INNER JOIN orders o ON c.customer_id = o.customer_id
print("\nJoin with suffixes for duplicate column names:")
print(pd.merge(customers, orders, on='customer_id', suffixes=('_left', '_right')))

Suffix Example Breakdown:

`customers` and `orders` are being joined on the `customer_id` column.

If both DataFrames have a column like `name` or `address`, they would conflict.

With `suffixes=('_left', '_right')`, you’d see them renamed like:

- `name_left` → from the `customers` DataFrame (left side)
- `name_right` → from the `orders` DataFrame (right side)

____________
This pandas code performs an **index-based join** between two DataFrames, similar to a SQL join that uses row numbers or positions rather than specific column values.
How it works
The `.join()` method merges DataFrames based on their index values (row labels). It's essentially saying "combine rows that have the same index position."

In [ ]:
# Index-based joining (like SQL using row numbers)

import pandas as pd

# Create sample DataFrames
df1 = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'score': [85, 90, 78]
}, index=[0, 1, 2])

df2 = pd.DataFrame({
    'name': ['Marketing', 'Engineering', 'Sales'],
    'budget': [50000, 80000, 60000]
}, index=[0, 1, 2])

print(df1.join(df2, lsuffix='_left', rsuffix='_right'))

Key characteristics of index joins
- *Default behavior*: Left join (keeps all rows from df1)
- *Index alignment*: Rows are matched by their index values
- *Automatic suffixing*: Only applies to columns with duplicate names
- *Efficient*: Generally faster than `merge()` for index-based operations
This is particularly useful when you have DataFrames that are naturally aligned by their row positions and you want to combine their columns horizontally.

In [ ]:
# Concatenating dataframes (UNION equivalent) (vertical concatenation)

import pandas as pd

# Create sample DataFrames (with some overlapping data)
df1 = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'department': ['Engineering', 'Sales', 'Marketing'],
    'salary': [75000, 65000, 70000]
})

df2 = pd.DataFrame({
    'name': ['Bob', 'Diana', 'Charlie'],  # Bob and Charlie are duplicates
    'department': ['Sales', 'Engineering', 'Marketing'],
    'salary': [65000, 80000, 70000]
})

# SQL: SELECT * FROM table1 UNION ALL SELECT * FROM table2
# Preserves duplicates: Like UNION ALL, keeps duplicate rows (unlike UNION)
# Column alignment: Matches columns by name automatically
print("\nConcatenating DataFrames (with duplicates):")
print(pd.concat([df1, df2], ignore_index=True))
# Index handling: ignore_index=True creates clean sequential numbering


# SQL: SELECT * FROM table1 UNION SELECT * FROM table2 (removes duplicates)
print("\nConcatenating DataFrames (removing duplicates):")
print(pd.concat([df1, df2]).drop_duplicates())  

# Removes duplicates: Unlike UNION ALL, eliminates identical rows
# Preserves original indices: Notice indices 0, 1, 2, 4 (index 3 was dropped as duplicate)
# Row-wise comparison: Considers entire rows when identifying duplicates
# Maintains order: Generally keeps the first occurrence of duplicate rows
# This is useful when combining datasets where you want to eliminate redundant records and create a unique set of rows.

--PRACTICE--
Challenge: use Seaborn data to practice some of these SQL rewrite concepts.  AI generated tip table split below to get me started.

In [ ]:
import seaborn as sns
import pandas as pd

# Load the tips dataset
tips = sns.load_dataset('tips')

# Create related tables for practice
customers = tips[['total_bill', 'tip', 'sex', 'smoker']].drop_duplicates().reset_index(drop=True)
customers['customer_id'] = range(len(customers))

meals = tips[['day', 'time', 'size']].drop_duplicates().reset_index(drop=True)
meals['meal_id'] = range(len(meals))

In [ ]:
import seaborn as sns
import pandas as pd

### Practice Filtering with Seaborn's tips dataset

# Load the tips dataset
tips = sns.load_dataset('tips')

# Create related tables for practice
customers = tips[['total_bill', 'tip', 'sex', 'smoker']].drop_duplicates().reset_index(drop=True)
customers['customer_id'] = range(len(customers))

meals = tips[['day', 'time', 'size']].drop_duplicates().reset_index(drop=True)
meals['meal_id'] = range(len(meals))

    ## Find all tips over $5
    # SELECT * FROM tips WHERE tip > 5;
print("\nTips over $5:")
print(customers[customers['tip'] > 5])
    # The inner customers['tip']>5 Boolean condition that checks each row of the tip column to see if the value is greater than 5.
    # It returns a Series of True/False values. 
    # Then pass the Boolean Series from the previous step to customers[...], so only the rows where the condition is True will be included
    # Then it prints the filtered DataFrame rows where the boolean condition is True.

    # SELECT * FROM tips WHERE day IN ('Sat', 'Sun');
print("\nTips on Saturday or Sunday:")
print(meals[meals['day'].isin(['Sat', 'Sun'])])

    # SELECT * FROM tips WHERE size > 2;
print("\nMeals with size greater than 2:")  
print(meals[meals['size'] > 2])

In [ ]:
import seaborn as sns
import pandas as pd

### Practice Aggregation

# Load the tips dataset
tips = sns.load_dataset('tips')

# Create related tables for practice
customers = tips[['total_bill', 'tip', 'sex', 'smoker']].drop_duplicates().reset_index(drop=True)
customers['customer_id'] = range(len(customers))

meals = tips[['day', 'time', 'size']].drop_duplicates().reset_index(drop=True)
meals['meal_id'] = range(len(meals))

# Average tip by day SQL: SELECT day, AVG(tip) as avg_tip FROM tips GROUP BY day;

avg_tip_by_day = tips.groupby('day', observed=True)['tip'].mean()
print("\nAverage tip by day:")
print(avg_tip_by_day)

# Total bills by smoker status SQL: SELECT smoker, SUM(total_bill) as total_revenue FROM tips GROUP BY smoker;
print("\nTotal bills by smoker status:" )
total_bills_by_smoker = customers.groupby('smoker', observed=True)['total_bill'].sum()
print(total_bills_by_smoker)

# Average tip percentage by day and time SQL: SELECT day, time, AVG(tip/total_bill * 100) as avg_tip_pct FROM tips GROUP BY day, time ORDER BY avg_tip_pct DESC;
tips['tip_pct'] = tips['tip'] / tips['total_bill'] * 100
avg_tip_pct_by_day_time = tips.groupby(['day', 'time'], observed=True)['tip_pct'].mean().reset_index()
# Rename the columns for clarity
avg_tip_pct_by_day_time.columns = ['day', 'time', 'avg_tip_pct'] 
# The original column name tip_pct refers to individual tip percentages, but after grouping and taking the mean, it represents the average tip percentage. So avg_tip_pct is more descriptive and accurate.
print("\nAverage tip percentage by day and time:")
# Sort by day ascending, then time descending
print(avg_tip_pct_by_day_time.sort_values(by=['day','time'], ascending=[True,False]))

# Party size statistics SQL: SELECT size, COUNT(*) as frequency, AVG(total_bill) as avg_bill FROM tips GROUP BY size HAVING COUNT(*) > 5;
party_size_stats = tips.groupby('size', observed=True).agg(
    frequency=('size', 'size'),  # Count of occurrences
    avg_bill=('total_bill', 'mean')  # Average total bill
).reset_index()
print("\nParty size statistics (size, frequency, avg_bill):")
print(party_size_stats[party_size_stats['frequency'] > 5])

*Note* Due to message about panda change, used `observed=True` to avoid future warnings
This will group the tips dataset by the 'day' column and calculate the average tip for each day.
The observed=True parameter ensures that only the days present in the dataset are included in the result.
 - First version: tips.groupby('day')['tip'].mean()
 - Updated version: tips.groupby('day', observed=True)['tip'].mean()

Now for advanced query stuff:

In [ ]:
## Window Functions 
# Rank customers by tip amount within each day
# SQL: SELECT *, RANK() OVER (PARTITION BY day ORDER BY tip DESC) as tip_rank FROM tips;
ranked_tips = tips.assign(
    tip_rank=tips.groupby('day')['tip'].rank(method='first', ascending=False)
).sort_values(by=['day', 'tip_rank'])
print("\nRanked tips by day:")
print(ranked_tips[['day', 'tip', 'tip_rank']])

# Running total of tips by day
# SQL: SELECT day, tip, SUM(tip) OVER (PARTITION BY day ORDER BY total_bill) as running_total FROM tips;
# First sort to match SQL's ORDER BY inside the window
sorted_tips = tips.sort_values(by=['day', 'total_bill'])
# Then compute running total using groupby and cumsum
running_total_tips = sorted_tips.assign(running_total=sorted_tips.groupby('day')['tip'].cumsum())
# Finally, display selected columns
print("\nRunning total of tips by day:")
print(running_total_tips[['day', 'tip', 'running_total']])

In [ ]:
## Subqueries
# Find above-average tippers SQl: SELECT * FROM tips WHERE tip > (SELECT AVG(tip) FROM tips);
above_average_tippers = tips[tips['tip'] > tips['tip'].mean()]
print("\nAbove-average tippers:")
print(above_average_tippers)

# -- Tip percentage categories SQL: SELECT *, CASE 
# WHEN tip/total_bill < 0.15 THEN 'Below Average'  WHEN tip/total_bill < 0.20 THEN 'Average' ELSE 'Generous'
# END as tipper_type FROM tips;
    
    ## using `pd.cut` to categorize tip percentages
# Step 1: Add tip_percent to the dataframe
tips_with_percent = tips.assign(tip_percent = tips['tip'] / tips['total_bill'])
# Step 2: Add tipper_type based on tip_percent 
tip_percentage = tips_with_percent.assign(
    tipper_type = pd.cut(
        tips_with_percent['tip_percent'],
        bins=[-float('inf'), 0.15, 0.20, float('inf')],
        labels=['Below Average', 'Average', 'Generous']))
print("\nTip percentage categories:")
print(tip_percentage[['total_bill', 'tip', 'tip_percent', 'tipper_type']])
    
    ## using `np.where()` to categorize tip percentages
# Step 1: Add tip_percent to the dataframe  
tips_with_percent = tips.assign(tip_percent = tips['tip'] / tips['total_bill'])
# Step 2: Add tipper_type based on tip_percent using np.where
import numpy as np
tips_with_type = tips_with_percent.assign(
    tipper_type = np.where(
        tips_with_percent['tip_percent'] < 0.15, 'Below Average',
        np.where(tips_with_percent['tip_percent'] < 0.20, 'Average', 'Generous')))   
print("\nTip percentage categories using np.where:")
print(tips_with_type[['total_bill', 'tip', 'tip_percent', 'tipper_type']])

### 🔍 How `np.where()` Works Here

Think of it like regular Python logic:

```python
if tip_percent > 0.20:
    'Generous'
elif tip_percent > 0.15:
    'Average'
else:
    'Below Average'
# You're nesting np.where() to express multiple conditions inline, similar to if-elif-else.

| Use Case                    | Best Tool     | Why                                              |
| --------------------------- | ------------- | ------------------------------------------------ |
| Even, numeric bins          | `pd.cut()`    | Cleaner, automatic bin labeling                  |
| Custom conditions           | `np.where()`  | Full control over logic                          |
| Complex/multiple conditions | `np.select()` | Scalable alternative to many nested `np.where()` |